<!DOCTYPE html>
<HTML>
    <HEAD>
        <title>Shootout</title>

        <meta name="viewport" content="initial-scale=1, maximum-scale=1">
        <meta name="description" content="This will be a description">

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">

        <link rel = "stylesheet" type = "text/css" href ="./stylesheet.css"/>
        <link rel="shortcut icon" type="image/png" href="assets/icon.png">

        <!-- FONT -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,600" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Podkova:700" rel="stylesheet">

    </HEAD>

    <BODY id = "homepage">
        <a href = "/clear"><button>clear</button></a>
        <h1><a href = "/">Shootout!</a></h1>


        <button class = "game-button" id = "new-game" onclick="location.href='/new-game'">New Game</button>

        <hr>


        <% for(key in games) { %>

            <% var game = games[key] %>

            <a href = "<%= 'game/' +  game.id  + '/1'%>">
                <button class = "game-button" id = "<%= game.id %>">
                    <div class = "game-button-container">
                        <div class = "game-info-name"><%= game.id %></div>
                        <div class = "game-info-players">
                            <% var p1class = (game.participants.p1) ? "filled" : "empty" %>
                            <% var p2class = (game.participants.p2) ? "filled" : "empty" %>

                            <div class = "player-circle-container"><p>p1</p><span class = "player-circle <%= p1class %>"></span></div>
                            <div class = "player-circle-container"><p>p2</p><span class = "player-circle <%= p2class %>"></span></div>
                        </div>
                    </div>
                </button>
            </a>
            <br>    

        <% } %>

        <hr>
        <h3>Game data:</h3>

        <% for(key in games) { %>

            <% var game = games[key] %>

            <pre><%= JSON.stringify(game, undefined, 4) %></pre>

        <% } %>






        <script src="https://cdn.socket.io/socket.io-1.4.0.js"></script>
        <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
        <script type="text/javascript" src = "../setup.js"></script>
    </BODY>
</HTML>